<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- SSH principal -->
		<add key="MainHost" value="s.ingeniapp.com" />
		<add key="MainUser" value="alex" />
		<add key="PemPath" value="C:\Proyecto Busmatick\desarrollo.pem" />

		<!-- Bastion -->
		<add key="BastionHost" value="54.167.16.87" />
		<add key="BastionUser" value="admin" />

		<!-- Password GLOBAL -->
		<add key="GlobalPassword" value="BusmatickApp1" />

		<!-- Opcional -->
		<add key="ShellTimeoutMs" value="15000" />
		<add key="CommandWaitMs" value="4000" />

	</appSettings>
</configuration>